---
import "tailwindcss/tailwind.css";
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";
import fs from "fs";
import path from "path";
export async function getStaticPaths() {
  const d_sgf = path.resolve("./data/sgf");
  const paths = fs.readdirSync(d_sgf).map((n_sgf) => {
    const id = n_sgf.replace(/\.sgf$/, "");
    return {
      params: {
        id
      },
      props: {
        metadata: {
          title: `棋友對局解說 ${id} | 好棋寶寶`,
          datePublished: new Date().toISOString().split("T")[0],
        },
        content: {
          sgf: fs.readFileSync(path.join(d_sgf, n_sgf), "utf-8").toString()
        }
      }
    };
  });
  console.log(paths);
  return paths;
}
---
<script type="text/javascript" src="../wgo/wgo.min.js"></script>
<script type="text/javascript" src="../wgo/wgo.player.min.js"></script>
<link type="text/css" href="../wgo/wgo.player.css" rel="stylesheet" />
<Layout metadata={Astro.props.metadata}>
  <sl-breadcrumb>
    <sl-breadcrumb-item onclick="window.location.href='/'">
      <sl-icon slot="prefix" name="house"></sl-icon>
      <h1>好棋寶寶</h1>
    </sl-breadcrumb-item>
  </sl-breadcrumb>
  <div data-wgo={Astro.props.content.sgf} style="height: 90%;" />
</Layout>