---
import "tailwindcss/tailwind.css";
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Timezones from "../components/timezones.astro";
export const metadata = {
  title: "台灣好棋寶寶協會｜圍棋協會推薦｜兒童圍棋與親子圍棋的文化與生活美學",
  description: "台灣好棋寶寶協會｜圍棋協會推薦｜兒童圍棋與親子圍棋的文化與生活美學",
  keywords: "圍棋",
  url: "https://www.weiqi.kids/",
  image: "favicon.png",
  datePublished: "2024-12-26",
};
---
<Layout metadata={metadata}>
  <Timezones />
  <div id="app" class="grid grid-cols-[3fr_3fr_2fr]">
    <div class="container mt-4 ml-4">
      <sl-card class="card-overview">
        <img
          slot="image"
          src="./wordpress/screenshot.png"
          alt="舊版 WordPress 網站截圖"
        />
      
        <strong>震驚</strong><br />
        WordPress 網站突然無預警被取消綁定了。<br />
        <small><sl-relative-time date="2024-12-26T00:30:00"></sl-relative-time></small>
      
        <div slot="footer">
          <sl-button variant="primary" pill href="https://weiqikids.wpcomstaging.com/" target="_blank">看舊版網站</sl-button>
        </div>
      </sl-card>     
    </div>
    <div class="p-4">
      <sl-icon-button name="plus-circle-dotted" id="middle-add"></sl-icon-button></sl-icon-button>
      <div id="middle-container"></div>
    </div>
    <div class="p-4">
      <sl-details summary="Shoelace web components" class="custom-icons">
        <sl-icon name="plus-square" slot="expand-icon"></sl-icon>
        <sl-icon name="dash-square" slot="collapse-icon"></sl-icon>
        <a href="https://shoelace.style/" target="_blank">Shoelace</a> is a collection of professionally designed, accessible Web Components.
      </sl-details>
      <sl-details summary="flaticon free icons" class="custom-icons">
        <sl-icon name="plus-square" slot="expand-icon"></sl-icon>
        <sl-icon name="dash-square" slot="collapse-icon"></sl-icon>
        <a href="https://www.flaticon.com/free-icons/json" title="json icons">Json icons created by LAB Design Studio - Flaticon</a>
      </sl-details>
      <sl-divider style="--color: tomato; --spacing: 1rem;"></sl-divider>
    </div>
  </div>
</Layout>