---
import "tailwindcss/tailwind.css";
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
export const metadata = {
  title: "台灣好棋寶寶協會｜圍棋協會推薦｜兒童圍棋與親子圍棋的文化與生活美學",
  description: "台灣好棋寶寶協會｜圍棋協會推薦｜兒童圍棋與親子圍棋的文化與生活美學",
  keywords: "圍棋",
  url: "https://www.weiqi.kids/",
  image: "favicon.png",
  datePublished: "2024-12-26",
};
---
<script type="text/javascript" src="wgo/wgo.min.js"></script>
<script type="text/javascript" src="wgo/wgo.player.min.js"></script>
<link type="text/css" href="wgo/wgo.player.css" rel="stylesheet" />
<Layout metadata={metadata}>
  <sl-breadcrumb>
    <sl-breadcrumb-item>
      <sl-icon slot="prefix" name="house"></sl-icon>
      <a href="/">
        <h1>好棋寶寶</h1>
      </a>
    </sl-breadcrumb-item>
  </sl-breadcrumb>
  <div id="board" style="height: 90%;"/>
  <script type="text/javascript">
    const board = document.getElementById("board");
    const player = new WGo.BasicPlayer(board, {
      board: {
        size: 9,
        background: "wgo/wood_1024.jpg"
      },
      layout: {
        bottom: ['Control'],
      },
      sgf: "(;SZ[9])"
    });
  </script>
</Layout>